-f https://download.pytorch.org/whl/torch_stable.html


djangorestframework~=3.13.1
Django~=3.2.12
pymongo~=3.12.3
bcrypt~=3.2.0
mongoengine~=0.23.1
python-dotenv~=0.19.2
opencv-python-headless==4.1.2.30
numpy~=1.21.5
dnspython~=2.2.0
idna~=3.3
requests~=2.27.1
cffi~=1.15.0
Pillow~=9.0.1
pip~=22.0.3
wheel~=0.37.1
rsa~=4.8
pyasn1~=0.4.8
six~=1.16.0
fire~=0.4.0
termcolor~=1.1.0
colorama~=0.4.4
pytz~=2021.3
sahi~=0.9.0
Shapely~=1.8.1.post1
tqdm~=4.63.0
torch==1.8.1+cpu
terminaltables~=3.1.10
thop~=0.0.31.post2005241907
PyYAML~=6.0
botocore~=1.24.3
boto3~=1.21.3
s3transfer~=0.5.1
jmespath~=0.10.0
setuptools~=47.1.0
scipy~=1.7.3
matplotlib~=3.5.1
construct~=2.10.68
pandas~=1.3.5
tensorboard~=2.8.0
torchvision==0.9.1+cpu
tensor~=0.3.6
urllib3~=1.26.8
sqlparse~=0.4.2
psycopg2~=2.9.3
asgiref~=3.5.0
cachetools~=5.0.0
certifi~=2021.10.8
python-dateutil~=2.8.2
yolov5~=6.0.6
seaborn~=0.11.2
cycler~=0.11.0
gunicorn~=20.1.0
Markdown~=3.3.6
oauthlib~=3.2.0
Werkzeug~=2.1.1
fonttools~=4.30.0
pyparsing~=3.0.7
ply~=3.11
pycparser~=2.21
packaging~=21.3
kiwisolver~=1.3.2
zipp~=3.8.0